version: '3.8'

services:
  php:
    build: .
    container_name: mysite_php
    volumes:
      # Мы НЕ пробрасываем весь код. 
      # Мы пробрасываем ТОЛЬКО папку с базой, чтобы файл .db жил на сервере
      - ./db:/var/www/mysite/db
    restart: always

  nginx:
    image: nginx:alpine
    container_name: mysite_nginx
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      # Nginx должен отдавать статику, поэтому ему тоже нужен доступ к файлам.
      # Но так как кода на сервере "как бы нет" (он в образе), 
      # мы используем volumes_from, чтобы Nginx залез внутрь контейнера PHP
    volumes_from:
      - php
    depends_on:
      - php