version: '3.8'

services:
  php:
    build: .
    container_name: mysite_php
    restart: always
    env_file: .env
    volumes:
      - ./public:/var/www/mysite
      - ./vendor:/var/www/mysite/vendor:ro
      - ./private:/var/www/private:rw

  nginx:
    image: nginx:alpine
    container_name: mysite_nginx
    restart: always
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ./public:/var/www/mysite:ro  # только public!
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - php 