name: Docker Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Test
        run: docker build . --file Dockerfile 

deploy:
- name: Executing remote ssh commands
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SSH_HOST }}
    username: ${{ secrets.SSH_USER }}
    key: ${{ secrets.SSH_KEY }}
    script: |
      TARGET_DIR="/home/${{ secrets.SSH_USER }}/server-setup/website"
      cd "$TARGET_DIR"
      git pull origin main
      /usr/bin/docker compose up -d --build
      /usr/bin/docker image prune -f
      echo "Deploy finished successfully."
