name: Docker Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Test
        run: docker build . --file Dockerfile 

  deploy:
    runs-on: ubuntu-latest
    needs: build # Деплой начнется только если тест сборки (build) прошел успешно
    steps:
      - name: Executing remote ssh commands using ssh-key
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Заходим в папку с проектом

            /root/server-setup/website  # УКАЖИТЕ ТУТ ВАШ ПУТЬ К ПРОЕКТУ НА VPS
            
            # 2. Подтягиваем изменения из GitHub
            git pull origin main
            
            # 3. Пересобираем и запускаем контейнеры
            # --build заставит Docker увидеть изменения в Dockerfile или PHP-файлах
            /usr/bin/docker compose up -d --build
